data
nations_map_server
multipaper_test
redis-logger
tmp
*.env
/**/*logs
/**/*.log
/**/playerdata
*.db
/plugins/DiscordSRV/linkedaccounts.json
/plugins/nations/players.csv
/plugins/ShrineRevive/*.json
/plugins/spark/tmp
/plugins/MythicMobs/SavedData
/plugins/DriveBackupV2/OneDriveCredential.json

*cache

tmp
